nav ul {
  margin-bottom: '2rem';
  margin: 0 0 2rem 0;
  padding: 0;
  list-style: none;
}

.navHeader {
  color: #c9c9c9;
  font-size: 0.9rem;
}
.navDescription {
  color: #3b3a3a;
  font-size: 1rem;
}

.category {
  color: rgb(201, 201, 201);
}

.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectPost {
  padding-left: 0.5rem;
  max-width: 700px;
}
