/* my custom layout */
.App div section:not(:nth-child(1)):not(:nth-child(2)) {
  padding-top: 5rem;
}
.App div section:last-child {
  padding-bottom: 5rem;
}
.upArrow {
  animation: bounce 2s infinite;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  color: #c9c9c9;
  z-index: 1;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
