.navbarItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbarLink:hover {
  color: #f7df1e;
  transition: 0.8s;
}

.navbarLinkEmail {
  color: #c9c9c9;
}

@media only screen and (max-width: 768px) {
  .navbarItems {
    display: none;
  }
}
